{% extends 'base.html.twig' %}

{% block title %}show{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1>Séries de la catégorie : {{ category.name }}</h1>

    {% if programs is empty %}
        <div>Aucune séries trouvée dans cette catégorie.</div>
    {% else %}
        <ul>
            {% for program in programs %}
                <li>
                    ID: {{program.id}}, Titre: <a href="{{ path('program_show',
                        { 'id': program.id }) }}">{{program.title}}</a>, Résumé: {{program.synopsis}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}